:root {
  --color-blue-soft: #053160;
  --color-blue-dark: #031e3c;
  --color-yellow: #ffc80b;

  --primary-color: #bfd11f;
  --secondary-color: #121213;
  --terciary-color: #2c2b27;

  --button-height: 92px;

  --slider-position: 10%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1.5em + 0.2vw) !important;
  font: inherit;
  font-size: 10px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
}

html {
  background-color: var(--color-blue-dark);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue-soft);
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
  color: var(--color-yellow);
  cursor: pointer;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
}

input {
  background-color: red;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.range {
  position: relative;
  display: flex;
  flex: 1;
}

.range-bar {
  flex: 1;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0.5);
  background-color: var(--color-yellow);
  pointer-events: none;
}

#info {
  display: flex;
  height: var(--button-height);
}

#menu {
  display: flex;
  height: var(--button-height);
}

#controller {
  flex: 1;
  display: flex;
}

#volume {
  display: flex;
  width: 100%;
  flex: 1;
}
@media only screen and (min-width: 50em) {
}
