:root {
  --color-blue-soft: #053160;
  --color-blue-dark: #031e3c;
  --color-yellow: #ffc80b;

  --button-height: 92px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1.5em + 0.2vw) !important;
  font: inherit;
  font-size: 10px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
}

html {
  background-color: #000;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
  color: #ff0000;
  cursor: pointer;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
}

input {
  appearance: none;
  background-color: #000;
  width: 100%;
  height: 92px;
}

.slider {
  width: 100%;
  height: 2rem;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 4rem;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 4rem;
  background: red;
  cursor: pointer;
}

#volume {
  width: 80%;
  margin: 0 auto;
}

#info {
  display: flex;
  height: var(--button-height);
}

#menu {
  display: flex;
  height: var(--button-height);
}

#controller {
  display: flex;
}
@media only screen and (min-width: 50em) {
}
